In [ ]:
-- Execute this cell to return the list of tables
-- and views within the default schema of this database
-- (Use \help to learn more options)

\list

In [ ]:
\list

In [ ]:
\list

In [ ]:
SELECT table_name FROM information_schema.tables;

In [ ]:
SELECT table_name FROM information_schema.tables;